# Python virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Raw and processed data
data/raw/*
data/processed/*
data/exports/*

# SQLite database
data/*.db
data/*.sqlite
data/*.sqlite3

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/exports/.gitkeep

# Logs
*.log
logs/